<app-nav>
  </app-nav>
  <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-8 mt-5">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-center">Product Detail</h5>
          <div class="table-responsive">
            <table class="table table-primary  ">
              <tbody>
                <tr>
                  <td class="font-weight-bold text-center">Product</td>
                  <td>{{ prod.productName }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold text-center">Price</td>
                  <td class="font-weight-bold">{{ prod.MSRP | currency}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold text-center">Description</td>
                  <td>{{prod.productDescription}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold text-center">Scale</td>
                  <td>{{prod.productScale}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold text-center">Vendor</td>
                  <td>{{prod.productVendor}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold text-center">Line</td>
                  <td>{{prod.productLine}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 mt-5">
      <div class="card w-100 mx-auto">
        <div class="card-body w-100">
            <img class="card-img-top" src="https://marketplace.canva.com/MACDjSj5_94/1/thumbnail_large/canva-shopping-bag-icon-MACDjSj5_94.png" alt="Card image cap">
        </div>
        <div class="card-footer w-100">
          <button class="btn btn-warning w-100" (click)="addProduct()">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>